@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
    --color-fondo1: black;
    --color-fondo2: #18191f;
    --color-letras1: #20dc49;
    --color-letras2: hsl(0, 0%, 90%);
    --color-cards: rgb(53, 51, 51);
    --dark: #16191c;
    --dark-x: #1e2126;
}

body {
    background-color: var(--color-fondo1);
    font-family: "Roboto", sans-serif;
    padding-top: 55px;
}


/* NAVBAR  */

.navbar {
    background-color: rgb(24, 25, 31) !important;
}

.navbar__logo {
    width: 30px;
    border-radius: 0 7px 0 7px;
}

.nav__icon {
    color: #20dc49;
    font-size: 0.8rem;
    margin-right: 3px;
}

.nav__form {
    height: 35px;
    margin: 0 20px;
    max-width: 195px;
}

.nav__icon-search {
    color: #20dc49;
}


/* Modal Registro */

.modal-content {
    background-color: rgb(24, 25, 31);
}

form {
    color: hsl(0, 0%, 85%);
    background-color: rgb(24, 25, 31);
}

form h3 {
    border-bottom: solid 3px rgb(32 220 73);
}

.BotonRegister {
    background-color: rgb(32 220 73);
}

.LINK_SESION {
    color: rgb(32 220 73);
}


/* Offcanvas */

.offcanvas {
    background-color: rgb(24, 25, 31);
    color: hsl(0, 0%, 85%);
}


/* Sobre-Nosotros -*/

.nos--content-header {
    text-align: center;
    margin: auto;
    width: 70%;
    color: white;
}

.nos--content-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nos--card {
    margin: 10px;
    background-color: #141212;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #06f439;
    position: relative;
    transition: all .5s ease;
}

.nos--card:hover .capa {
    visibility: visible;
    opacity: 1;
}

.nos--card:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    .nos--content-header {
        margin: auto;
        width: 90%;
        color: white;
    }
}


/* inicio pagina contacto */

.contacto {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto--content-imagen {
    width: 40%;
}

.contacto--content-imagen img {
    width: 100%;
    object-fit: contain;
}

.contacto--content-form {
    width: 40%;
}

.contacto--content-form ::placeholder {
    color: rgba(153, 140, 145, 0.74)!important;
}

.contacto--button {
    background-color: hsl(133, 75%, 49%);
    border-color: #20dc49 !important;
}

.contacto--button:hover {
    background-color: rgba(27, 241, 73, 0.918);
    border-color: #19e245;
    box-shadow: 5px -5px 43px 5px rgba(41, 222, 92, 0.81);
    -webkit-box-shadow: 5px -5px 43px 5px rgba(41, 222, 92, 0.81);
    -moz-box-shadow: 5px -5px 43px 5px rgba(41, 222, 92, 0.81);
    transition: all 0.5s ease;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 550px) {
    .contacto {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contacto--content-imagen {
        width: 95%;
    }
    .contacto--content-imagen img {
        width: 95%;
        object-fit: contain;
    }
    .contacto--content-form {
        width: 95%;
    }
}


/* MAIN  */

main {
    max-width: 1350px;
}

.secciones {
    width: 69%;
    background-color: var(--color-fondo2);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.356);
}


/* Secciones 1,2 y 3  */

.grid__container {
    margin: 0;
    width: 100%;
    font-family: "roboto";
    color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card_body {
    display: inline-block;
    width: 125px;
    background-color: rgb(53, 51, 51);
    border-radius: 5px;
    margin: 10px;
    border: 1px solid rgb(32 220 73);
    overflow: hidden;
    justify-self: center;
}

.card_body:hover {
    transform: scale(1.1);
    transition: all .2s;
}

.card_img {
    height: 70%;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card_text {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card_text .tituloPeli {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-letras2);
}


/* Aside ---------------------------------------------------------------------------------------------------------- */

aside {
    width: 30%;
    background-color: var(--color-fondo2);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.356);
}

.card {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.11);
}

.bordePelis {
    border-bottom: solid 3px var(--color-letras1);
    color: var(--color-letras1);
}


/* Generos Y Años  */

.CajaGeneroAño {
    display: flex;
    flex-wrap: wrap;
}

.filtro {
    background-color: rgb(24, 25, 31);
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.filtro--title {
    background-color: hsl(0, 0%, 0%);
    font-size: 1.3rem;
    color: var(--color-letras1);
    border-radius: 7px;
    padding: 5px 5px 5px 20px;
}

.filtro--content-item {
    list-style: none;
    font-size: 1rem;
    color: #7d9092;
    padding: 10px;
}

.filtro--content-item li {
    margin-top: 0.8rem;
}

.filtro__icon {
    color: #20dc49;
    font-size: 1rem;
    visibility: hidden;
    transition: all 0.3s ease;
}

.filtro--content-item li:hover .filtro__icon {
    visibility: visible;
    margin-right: 0.2rem;
    cursor: pointer;
}

.filtro--content-item li:hover {
    color: #20dc49;
    cursor: pointer;
}


/* FOOTER */

.footer {
    width: 100%;
    height: auto;
    background-color: rgb(24, 25, 31) !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "column1 column2 column3";
    align-content: center;
    justify-items: center;
    padding: 20px;
    font-family: roboto, arial, helvetica, sans-serif;
    box-sizing: border-box;
}

.columns {
    color: #20dc49;
    text-align: center;
    font-size: 1rem;
    margin: auto;
}

.column1 {
    grid-area: column1;
}

.column2 {
    grid-area: column2;
}

.column3 {
    grid-area: column3;
}

.footer i {
    font-size: 2rem;
    color: #20dc49;
    cursor: pointer;
    margin: 0.5rem;
}

.column2 img {
    width: 5rem;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
}

.footer i:hover {
    color: #a5e6b4;
    transition: all 0.7s ease;
}


/* MAIN ----------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 720px) {
    .secciones,
    aside {
        width: 100%;
    }
    .filtro {
        width: 50%;
    }
    .publicidad {
        display: none;
    }
}


/* GENEROS Y AÑOS ----------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 450px) {
    .filtro {
        width: 100%;
        text-align: center;
    }
}


/* FOOTER */

@media (max-width: 750px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "column1 column2" "column3 column3";
    }
    .column3 {
        margin-top: 20px;
    }
    .column2 img {
        width: 3rem;
        border-radius: 0 10px 0 10px;
        cursor: pointer;
    }
}

@media (max-width: 450px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "column1 " "column2" " column3";
    }
    .column2 img {
        width: 3rem;
        border-radius: 0 10px 0 10px;
        cursor: pointer;
        margin: 30px auto;
    }
}

@media screen and (min-width: 1100px) {
    .nav__form {
        height: 35px;
        margin: 0 20px;
        max-width: 400px;
    }
}


/* Carrusel-*/

.carousel-caption {
    color: #f4ecf8;
    text-shadow: 3px 3px 4px rgb(14, 13, 13);
}

#carouselExampleCaptions {
    max-height: 40vh;
    min-height: 35vh;
    overflow: hidden;
    margin: 8px 0;
    font-size: 1rem !important;
}

#carouselExampleCaptions img {
    min-height: 40vh;
    object-fit: cover;
    filter: brightness(75%);
}

#carouselExampleCaptions .carousel-caption {
    position: absolute;
    top: 2rem;
    height: auto;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.2rem;
}

@media (max-width: 550px) {
    #carouselExampleCaptions {
        max-height: 18vh;
        min-height: 15vh;
        overflow: hidden;
        margin: 8px 0;
    }
    #carouselExampleCaptions img {
        min-height: 18vh;
        object-fit: cover;
        filter: brightness(75%);
    }
}


/* documentales */

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(29, 31, 29, 0.8);
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: all .5s ease;
}

.capa i {
    margin-top: 70%;
    font-size: 2.5rem;
    color: #19e245;
    transition: all .3s ease;
}

.capa i:hover {
    transform: scale(1.2);
}

.card_body:hover .capa {
    visibility: visible;
    opacity: 1;
}

.content--documental {
    min-width: 6rem;
    max-width: 6rem;
}

.content--documental--img {
    min-height: 8rem;
    max-height: 8rem;
}

.content--documental--img p {
    font-size: .9rem;
}

.card_body--section1-2-3 {
    position: relative;
}